<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="_fragments :: menu(4)" >

</nav>

<!--content-->
<div  class="m-container m-padded-tb-big m-container-small">
    <div class="ui container">
        <!--头部-->
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui blue header">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin"> 114 </h2> 篇
                </div>
            </div>
        </div>

        <h3 class="ui center aligned header">2017</h3>

        <div class="ui fluid vertical menu">
            <a href="#" class="item" target="_blank">
                <span>
                    <i class="mini blue circle icon"></i>关于刻意练习的清单
                    <div class="ui basic blue left pointing label m-padded-tb-mini">9月03号</div>
                </span>
                <div class="ui orange basic right pointing label">原创</div>
            </a>
            <a href="#" class="item" target="_blank">
                <span>
                    <i class="mini blue circle icon"></i>关于刻意练习的清单
                    <div class="ui basic blue left pointing label m-padded-tb-mini">9月03号</div>
                </span>
                <div class="ui orange basic right pointing label">原创</div>
            </a>
            <a href="#" class="item" target="_blank">
                <span>
                    <i class="mini blue circle icon"></i>关于刻意练习的清单
                    <div class="ui basic blue left pointing label m-padded-tb-mini">9月03号</div>
                </span>
                <div class="ui orange basic right pointing label">原创</div>
            </a>
            <a href="#" class="item" target="_blank">
                <span>
                    <i class="mini blue circle icon"></i>关于刻意练习的清单
                    <div class="ui basic blue left pointing label m-padded-tb-mini">9月03号</div>
                </span>
                <div class="ui orange basic right pointing label">原创</div>
            </a>

        </div>

        <h3 class="ui center aligned header">2016</h3>

        <div class="ui fluid vertical menu">
            <a href="#" class="item" target="_blank">
                <span>
                    <i class="mini blue circle icon"></i>关于刻意练习的清单
                    <div class="ui basic blue left pointing label m-padded-tb-mini">9月03号</div>
                </span>
                <div class="ui orange basic right pointing label">原创</div>
            </a>
            <a href="#" class="item" target="_blank">
                <span>
                    <i class="mini blue circle icon"></i>关于刻意练习的清单
                    <div class="ui basic blue left pointing label m-padded-tb-mini">9月03号</div>
                </span>
                <div class="ui orange basic right pointing label">原创</div>
            </a>
            <a href="#" class="item" target="_blank">
                <span>
                    <i class="mini blue circle icon"></i>关于刻意练习的清单
                    <div class="ui basic blue left pointing label m-padded-tb-mini">9月03号</div>
                </span>
                <div class="ui orange basic right pointing label">原创</div>
            </a>
            <a href="#" class="item" target="_blank">
                <span>
                    <i class="mini blue circle icon"></i>关于刻意练习的清单
                    <div class="ui basic blue left pointing label m-padded-tb-mini">9月03号</div>
                </span>
                <div class="ui orange basic right pointing label">原创</div>
            </a>
        </div>

    </div>
</div>

<br>
<br>
<!--底部内容-->
<footer class="ui inverted vertical segment m-padded-tb-massive" th:replace="_fragments :: footer">

</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>